# --- Core scientific stack ---
numpy==1.23.5
pandas==1.5.3
scipy==1.10.1

# --- Machine learning ---
scikit-learn==1.2.2
autogluon.tabular==0.8.2

# --- Chemistry & Materials ---
pymatgen==2023.8.10
matminer==0.8.0
mordred==1.2.0
rdkit-pypi==2022.9.5
py3Dmol==1.8.2

# --- Streamlit ---
streamlit==1.30.0

# --- General utilities ---
requests
plotly
